
@{
    ViewData["Title"] = "EnterSeq";
}

<h2>EnterSeq</h2>

<div class="container form-group">
    <form action="" method="post">
        <textarea class="form-control" name="inputSeq" rows="5" cols="100">aaacagatcacccgctgagcgggttatctgtt</textarea>
        <p></p>
        <input type="submit" value="Calculate" class="nav-link btn-sm text-dark " asp-area="" asp-controller="DinucCalc" asp-action="Dinuc" />
    </form>
</div>

