@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dinuc Calculation</h1>
    <p>
        <a class="nav-link text-blue" asp-controller="Home" asp-action="EnterSeq">EnterSeq</a>
        <a class="nav-link text-blue" asp-controller="Home" asp-action="EnterGBSeq">Enter GB Seq</a>
    </p>
    <p>
        Learn about <a class="text-blue" href="#">Dinucleotides</a> calculation in two frames.
    </p>
</div>
