
@{
    ViewData["Title"] = "DinucCalc";
}

<h1>DinucCalc</h1>

<a>@ViewBag.testReturn</a>

<p></p>

<table class="table">
    <thead>
        <tr class="row">
            @foreach(var item in ViewBag.DiTable.Dinuc)
            {
                <th style="width: 6.25%">@item</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.DinucCount)
            {
                <td style="width: 6.25%">@item</td>
            }
        </tr>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.DinucFrq)
            {
                <td style="width: 6.25%">@item</td>
            }
        </tr>
    </tbody>
</table>

